*{ /* This is the line that causes my list to be bulleted ****Fix this later, and need to adjust the spacing between bullets and items*/
    margin: 0;
    padding-left: 0.5rem; /* This makes the issue*/

}
h1{
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}
p{
    font-family: sans-serif;
    text-align: center;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
/*Create the styling for the navigation bar*/
header ul{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    list-style: none;
    background-color: #333;

}
header a{
    color: #00b8d4;
    text-decoration: none;
    padding: 26px 0.5rem;
    display: block;
    text-align:left;
    font-family: sans-serif;
    font-size: large;
    
}
header li:hover a{
    background-color: #5b5d5d;
    color:white;
}
header li{
    float: left;
}
.active{
    color:#b2f5ea;
    font-weight: bold;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3rem;
    background-color: #333;
    color: white;
    text-align: center; 
    display:flex;
    justify-content: center;
    align-items: center;
    padding-left:0.5rem;
    padding-right:0.5rem;
}
.profilepicture img{
    margin-top: 100px;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display:block;
    margin-left: auto;
    margin-right: auto;

}
body{
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: azure;
    text-align: center;
    font-family: sans-serif;
    margin-top: 50px;
}
table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    
}
.card-container{
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    width: 100%;
}
.projectcard{
    width: 330px;
    background-color: #f0e2b2;
    margin:10px;
    border-radius: 10px;
    justify-content: center;
}
.projectcard img{
    width: 80%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}
.dropdown select{
    background-color: #77a76f;
    color: #fff;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0,0,0,.5);;
}
.email{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
